body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--background-color);
}

:root {
  --background-color: #030031;
  --glass-panel: rgba(45, 44, 95, .8);
  --panel-shadow: rgba(27, 24, 88, .8);
  --heightlight-blue: #00fefc;
  --blue: #00e0ff;
  --darker-blue: #00b5ff;
  --green: #00e596;
  --pink: #ff38e7;
  --orange: #ff8a6f;
  --gray: #cbcad4;
}